## Test Report

Testing was done in ruby file name test.rb in source dir. When building and running the app, I would build or quarantine methods in the test file, run them with dummy date, and then copy them into the main file when they seemed to be working and then do more debugging if needed. In the file, there are commented out examples of each method to run if needed.